<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Productflow\Adapter\Api\ProductsManagementInterface" type="Productflow\Adapter\Model\ProductsManagement" />
    <preference for="Productflow\Adapter\Api\OrderManagementInterface" type="Productflow\Adapter\Model\OrderManagement" />
    <preference for="Productflow\Adapter\Api\Data\OrderItemInterface" type="Productflow\Adapter\Model\Data\Order\Item" />
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productflow_endpoint_payload_queue_data_source" xsi:type="string">
                    ProductflowJobScheduleCollection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ProductflowJobScheduleCollection" type="Productflow\Adapter\Model\ResourceModel\Job\Schedule\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">prductflow_cron_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Productflow\Adapter\Model\ResourceModel\Job\Schedule</argument>
            <argument name="eventPrefix" xsi:type="string">prductflow_cron_schedule_collection</argument>
            <argument name="eventObject" xsi:type="string">schedule_collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Tab\Advanced">
        <plugin name="productflow_endpoint_attribute_edit_form" type="Productflow\Adapter\Plugin\Block\Adminhtml\Product\Attribute\Edit\Tab\Advanced" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="export" xsi:type="object">Productflow\Adapter\Console\Command\Export</item>
            </argument>
        </arguments>
    </type>	
</config>
